<div>
  <h1>Lista de Bombas De Combustível</h1>
  <div class="bomba-row">
    <div class="bomba" (click)="openModal('Bomba 1')">
      <p class="tipo-combustivel">Gasolina</p>
      <img src="assets/img/brand/bombaA.png" alt="Bomba de Combustível A" style="width: 150px; height: auto;" id="bombaA">
    </div>
    <div class="bomba" (click)="openModal('Bomba 2')">
      <p class="tipo-combustivel">Gasolina</p>
      <img src="assets/img/brand/bombaA.png" alt="Bomba de Combustível A" style="width: 150px; height: auto;" id="bombaB">
    </div>
    <div class="bomba" (click)="openModal('Bomba 3')">
      <p class="tipo-combustivel">Diesel</p>
      <img src="assets/img/brand/bombaB.png" alt="Bomba de Combustível B" style="width: 150px; height: auto;" id="bombaC">
    </div>
    <div class="bomba" (click)="openModal('Bomba 4')">
      <p class="tipo-combustivel">Diesel</p>
      <img src="assets/img/brand/bombaB.png" alt="Bomba de Combustível B" style="width: 150px; height: auto;" id="bombaD">
    </div>
  </div>
</div>
