<table mat-table class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="bomba">
    <th mat-header-cell *matHeaderCellDef> Bomba </th>
    <td mat-cell *matCellDef="let element"> {{element.bomba}} </td>
  </ng-container>

  <ng-container matColumnDef="combustivel">
    <th mat-header-cell *matHeaderCellDef> Combustível </th>
    <td mat-cell *matCellDef="let element"> {{element.combustivel}} </td>
  </ng-container>

  <ng-container matColumnDef="quantidadeLitros">
    <th mat-header-cell *matHeaderCellDef> Quantidade Litros </th>
    <td mat-cell *matCellDef="let element"> {{element.quantidadeLitros}} </td>
  </ng-container>

  <ng-container matColumnDef="valorAbastecido">
    <th mat-header-cell *matHeaderCellDef> Valor Abastecido </th>
    <td mat-cell *matCellDef="let element"> {{element.valorAbastecido}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
