
.table-container {
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
  }
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    color: white;
  }
  
  .table-header h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .refresh-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .refresh-button:hover {
    background-color: #218838;
  }
  
  .mat-elevation-z8 {
    flex: 1;
    overflow-y: auto;
  }